<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" /> 
        <title>jQuery Mobile: For Fun and Profit</title>
        
        <link rel="stylesheet" href="scripts/jquerymobile/jquery.mobile-1.0a4.1.min.css" />
        <link rel="stylesheet" href="styles/custom.css" />
        
        <script src="scripts/jquery-1.5.min.js"></script>
        <script>
    		//Setup jQuery Mobile options *before* loading script
    		$( document ).bind( "mobileinit", function(){
    		    console.log("event:mobileninit");
    		});
    	</script>
        <script src="scripts/jquerymobile/jquery.mobile-1.0a4.1.min.js"></script>
        <script src="scripts/jquery.tmpl.js"></script>
        <script src="brewerydb/brewerydb.js"></script>
        
    </head>
    <body>
        
        <div data-role="page" id="browse">
            
            <script id="breweryItemTemplate" type="text/x-jquery-tmpl">
                <li>
                    <a href="#">
                        <h2>${name}</h2>
                        <p><strong>${phone}</strong></p>
                        <p>
                            ${address.street_address}, 
                            ${address.locality}, ${address.region} ${address.postal_code}
                        </p>
                        <span class="ui-li-count">${metadata.geo.distance} m</span>
                    </a>
                </li>
            </script>
            
            <script id="breweryPageTemplate" type="text/x-jquery-tmpl">
                <div data-role="page" id="details-${id}">
                    <div data-role="header">
                        <h1>Details</h1>
                    </div>

                    <div data-role="content">
                        <h2>${name}</h2>
                    
                    
                        {{if website}}
                        <a href="${website}" data-role="button">Website</a>
                        {{/if}}
                        <a href="${metadata.links.detail}" data-role="button">More Details...</a>
                    
                        {{if description}}
                        <p>${description}</p>
                        {{/if}}
                    </div>

                    <div data-role="footer">
                        <h4>jQuery Mobile: For Fun and Profit</h4>
                    </div>
                </div>
            </script>
            
            <script>
            (function(undefined){
                
                var page = $('div:jqmData(role=page)#browse'),
                    list = page.find('ul#results'),
                    currentLoc = null;
                
                var refreshBreweries = function(location) {
                    
                    var geo = {
                        lat: location.latitude,
                        lng: location.longitude,
                        raidus: 50,
                        units: 'm'
                    };
                    
                    list.empty().listview('refresh');
                    
                    $.mobile.pageLoading();
                    
                    db.breweries({
                        success: function(data) {
                            
                            $.mobile.pageLoading(true);
                            
                            if( data.breweries.brewery && data.breweries.brewery.length > 0 ) {

                                $.each(data.breweries.brewery, function(i) {
                                    
                                    var item = $('#breweryItemTemplate').tmpl(this).appendTo(list);
                                    
                                    //Dynamically Generate Page
                                    var that = this;
                                    item.find('a').click(function(e){
                                        var detailPage = $('#breweryPageTemplate').tmpl(that);
                                        
                                        //Replace if page exists
                                        if( $('#details-' + that.id).length > 0 )
                                            $('#details-' + that.id).replaceWith(detailPage);
                                        else
                                            detailPage.appendTo('body');
                                        
                                        //Enhance page
                                        detailPage.page();
                                        
                                        //Override Back Button
                                        detailPage.find('a:jqmData(rel=back)').bind('click', function(e){
                                            $.mobile.changePage([detailPage, page], 'fade', false, false);
                                            
                                            return false;
                                        });
                                        
                                        //Transition to new page
                                        $.mobile.changePage([page, detailPage], 'fade', false, false);
                                        
                                        e.preventDefault();
                                    });
                                    
                                });
                                
                            } else {
                                
                                $('<li><h2>No Results Found</h2></li>').appendTo(list);
                                
                            }

                            list.listview('refresh');
                        },
                        failure: function() {
                            
                            $.mobile.pageLoading(true);
                            
                            $('<li><h2>ERROR!</h2></li>').appendTo(list);
                            
                            list.listview('refresh');
                            
                        },
                        geo: geo,
                        metadata: true
                    });
                };

                page.live( 'pageshow', function() {
                    if( currentLoc ) {
                        refreshBreweries(currentLoc);
                    } else if( navigator.geolocation ) {
                        //throw up loading spinner
                        $.mobile.pageLoading();	

                        navigator.geolocation.getCurrentPosition(
                            //on success
                            function(position){
                                currentLoc = {
                                    latitude:  position.coords.latitude,
                                    longitude: position.coords.longitude
                                };

                                //remove loading spinner
                                $.mobile.pageLoading(true);	

                                refreshBreweries(currentLoc);
                            }, 
                            //on error
                            function() { 
                                //remove loading spinner
                                $.mobile.pageLoading(true);	
                            }
                        );
                    }
                });
                
            })();
            </script>
            
            <div data-role="header">
                <h1>Browse Local Breweries</h1>
            </div>
            
            <div data-role="content">
                
                <ul data-role="listview" id="results">
                    <li>Nothing Yet</li>
                </ul>
                
            </div>
            
            <div data-role="footer">
                <h4>jQuery Mobile: For Fun and Profit</h4>
            </div>
            
        </div>
        
    </body>
</html>