<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1"> 
	    
        <title>jQuery Mobile: For Fun and Profit</title>
        
        <link rel="stylesheet" href="scripts/jquerymobile/jquery.mobile-1.0rc1.min.css" />
        <link rel="stylesheet" href="styles/custom.css" />
        
        <script src="scripts/jquery-1.6.4.min.js"></script>
        <script>
    		//Setup jQuery Mobile options *before* loading script
    		$( document ).bind( "mobileinit", function(){
    		    console.log("event:mobileninit");
    		});
    	</script>
        <script src="scripts/jquerymobile/jquery.mobile-1.0rc1.min.js"></script>
        <script src="scripts/jquery.tmpl.js"></script>
        <script src="brewerydb/brewerydb.js"></script>
        
    </head>
    <body>
        
        <div data-role="page" id="browse">
            
            <script id="breweryItemTemplate" type="text/x-jquery-tmpl">
                <li>
                    <a href="#details-${id}">
                        <h2>${name}</h2>
                        <p><strong>${phone}</strong></p>
                        <p>
                            ${address.street_address}, 
                            ${address.locality}, ${address.region} ${address.postal_code}
                        </p>
                        <span class="ui-li-count">${metadata.geo.distance} m</span>
                    </a>
                </li>
            </script>
            
            <script id="breweryPageTemplate" type="text/x-jquery-tmpl">
                <div data-role="page" id="details-${id}">
                    <div data-role="header">
                        <a data-icon="arrow-l" data-direction="reverse" href="#browse">Breweries</a>
                        <h1>Details</h1>
                    </div>

                    <div data-role="content">
                        <h2>${name}</h2>
                    
                    
                        {{if website}}
                        <a href="${website}" data-role="button">Website</a>
                        {{/if}}
                        <a href="${metadata.links.detail}" data-role="button">More Details...</a>
                    
                        {{if description}}
                        <p>${description}</p>
                        {{/if}}
                    </div>

                    <div data-role="footer">
                        <h4>jQuery Mobile: For Fun and Profit</h4>
                    </div>
                </div>
            </script>
            
            <script>
            (function(undefined){
                
                var $page = $(':jqmData(role=page)#browse'),
                    currentLoc = null,
                    breweryModel = {};
                
                var refreshBreweries = function(location) {
                    
                    breweryModel = {};
                    
                    var $list = $page.find('#results');
                    
                    var geo = {
                        lat: location.latitude,
                        lng: location.longitude,
                        raidus: 50,
                        units: 'm'
                    };
                    
                    $list.empty().listview('refresh');
                    
                    $.mobile.showPageLoadingMsg();
                    
                    db.breweries({
                        success: function(data) {
                            
                            $.mobile.hidePageLoadingMsg();
                            
                            if( data.breweries.brewery && data.breweries.brewery.length > 0 ) {

                                $.each(data.breweries.brewery, function(i) {
                                    breweryModel[this.id] = this;
                                    var $item = $('#breweryItemTemplate').tmpl(this).appendTo($list);
                                });
                                
                            } else {
                                
                                $('<li><h2>No Results Found</h2></li>').appendTo(list);
                                
                            }
                            
                            $list.listview('refresh');
                        },
                        failure: function() {
                            
                            $.mobile.hidePageLoadingMsg();
                            
                            $('<li><h2>ERROR!</h2></li>').appendTo($list);
                            
                            $list.listview('refresh');
                            
                        },
                        geo: geo,
                        metadata: true
                    });
                };
                
                var loadDetailPage = function(id, options) {
                    if (!breweryModel[id]) {
                        $.mobile.showPageLoadingMsg();
                        
                        db.breweryDetails({
                            success: function(data) {
                                $.mobile.hidePageLoadingMsg();
                                
                                var brewery = data.breweries.brewery;
                                
                                breweryModel[brewery.id] = brewery;
                            },
                            failure: function() {
                                $.mobile.hidePageLoadingMsg();
                            },
                            id: id
                        }, true);
                    }
                    
                    var breweryDetail = breweryModel[id],
                        $detailPage   = $('#breweryPageTemplate').tmpl(breweryDetail);
                    
                    //Replace if page exists
                    if( $('#details-' + breweryDetail.id).length > 0 )
                        $('#details-' + breweryDetail.id).replaceWith($detailPage);
                    else
                        $detailPage.appendTo('body');
                    
                    $detailPage.page();
                    
                    options.dataUrl = '#details-' + breweryDetail.id;
            		$.mobile.changePage( $detailPage, options );
                }
                
                $(document).bind( 'pagebeforechange', function(e, data) {
                     // see http://jquerymobile.com/test/docs/pages/page-dynamic.html
                     if ( typeof data.toPage === "string" ) {
                         var u = $.mobile.path.parseUrl( data.toPage ),
                             re = /^#details-([0-9]+)/i
                             match = null;

                 		if ( match = u.hash.match(re) ) {
                 		    var id = match[1];
                 		    
                 		    loadDetailPage(id, data.options);
                 		    
                 		    e.preventDefault();
             		    }
                     }
                });

                $page.live( 'pageshow', function() {
                    if( currentLoc ) {
                        refreshBreweries(currentLoc);
                    } else if( navigator.geolocation ) {
                        //throw up loading spinner
                        $.mobile.showPageLoadingMsg();

                        navigator.geolocation.getCurrentPosition(
                            //on success
                            function(position){
                                currentLoc = {
                                    latitude:  position.coords.latitude,
                                    longitude: position.coords.longitude
                                };

                                //remove loading spinner
                                $.mobile.hidePageLoadingMsg();

                                refreshBreweries(currentLoc);
                            }, 
                            //on error
                            function() { 
                                //remove loading spinner
                                $.mobile.hidePageLoadingMsg();
                            }
                        );
                    }
                });
                
            })();
            </script>
            
            <div data-role="header">
                <h1>Browse Local Breweries</h1>
            </div>
            
            <div data-role="content">
                
                <ul data-role="listview" id="results">
                    <li>Nothing Yet</li>
                </ul>
                
            </div>
            
            <div data-role="footer">
                <h4>jQuery Mobile: For Fun and Profit</h4>
            </div>
            
        </div>
        
    </body>
</html>